<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatAndroid">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6j4mF6blrc4kZ54S6vYZ2_FpMY9VzyRU"/>
        <activity android:name=".MapaActivity" android:parentActivityName=".homeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".homeActivity" />
        </activity>
        <activity android:name=".MensajesActivity" android:parentActivityName=".homeActivity"/>

        <activity android:name=".homeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SpashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>