<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %} Radarín {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    {% block scripts %} {% endblock %}
</head>
<body>

<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if usuarioLogueado %}
                <li id="mapa"><a class="botonMapa" href="/mapa">Listar Usuarios</a></li>
                <li id="friends"><a class="btnFriends" href="/friends">Amigos</a></li>
                <li id="invitaciones"><a class="botonNavegador" href="/invitaciones">Invitaciones de Amistad</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if !usuarioLogueado %}
                <li>
                    <a href="/registrarse"><span class="glyphicon glyphicon-user"></span>Registrate</a>
                </li>
                <li>
                    <a href="/identificarse"><span class="glyphicon glyphicon-log-in"></span>Identifícate</a>
                </li>
                {% endif %} {% if usuarioLogueado %}
                <li>
                    <a href="/desconectarse"><span class="glyphicon glyphicon-log-in"></span>Desconectarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');

        if (mensaje != "") {
            if (tipoMensaje == "") {
                tipoMensaje = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>

    <!-- Contenido -->
    {% block contenido_principal %}
    <!-- Fin del bloque -->
    {% endblock %}
</div>

</body>
</html>